body {
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 2.5em;
}

code {
	color: #FF336E;
}

.center-it {
	display: flex;
	justify-content: center;
	align-items: center;
}

.thumb {
	width: 12vw;
	height: auto;
	margin-bottom: 3vh;
}
